body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.all{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.first-container {
  background-color: rgb(13, 13, 13);
  display: flex;
  flex-direction: row;
  height: 60px;
  transition: box-shadow 0.3s;
  border-bottom: 2px solid white;
}

.back{
  height: 75%;
  width: 8%;
  background-color: rgb(0, 0, 0);
  transition: border-color 0.3s , box-shadow 0.3s;

}
.back:hover{
  border-bottom: 2px solid white;
  box-shadow:0px 4px 10px rgba(255, 255,255, 0.7);

}
.backbutton{
  height: 100%;
  width: 100%;
  border: 0;
  background: transparent;
}
.fa-arrow-left{
  font-size:25px;
  color: white;
  cursor: pointer;
}
.second-container{
  display: flex;
  flex-direction: row;
  background-color: rgb(0, 0, 0);
  justify-content: space-between;
  height:80%;
}


.third-container{
  background-color: rgb(0, 0, 0);
  height: 10%;
  color: white;
  font-size: 6vh;
  padding-top: 4vh;
}
.phone{
  background-color: rgb(0, 0, 0);
  width: 33vw;
  transition: border-color 0.3s , box-shadow 0.3s;
}
.telegram{
  background-color: rgb(0, 0, 0);
  width: 33vw;
  transition: border-color 0.3s , box-shadow 0.3s;
}
.email{
  background-color: rgb(0, 0, 0);
  width: 33vw;
  transition: border-color 0.3s , box-shadow 0.3s;
}


.phone:hover,.telegram:hover,.email:hover{
  border-bottom: 2px solid white;
  box-shadow:0px 10px 20px rgba(255, 242, 0, 0.791);

}
.icon{
  background-color: rgb(0, 0, 0);
  height:60%;
  justify-content: end;
  align-items: center;
}
.imageicon{
  height:30%;
  width:26%;
  padding-left: 35%;
  padding-top: 26%;
}
.text{
  color: white;
  padding-left: 35%;
  background-color: black;
  font-size:120%;
}
a{
  color: white;
  height: 100%;
  width: 100%;
}
